DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{postgres.database}}',
        'USER': '{{postgres.user}}',
        'PASSWORD': '{{postgres.password}}',
        'HOST': '{{postgres.host}}',
        'PORT': '{{postgres.port}}',
    }
}
